
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12">
            <div class="row g-3 mt-4">
                <h3 class="text-center" style="color:#323773;font-size:xx-large; line-height: 1.5;font-size: 40px;">User Registration</h3>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Name</label>
                    <input  type="text" name="name" [(ngModel)]="name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Phone No</label>
                    <input type="text" name="contact" [(ngModel)]="phoneno" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12">
                    <label for="" class="form-label">Adress</label>
                    <textarea name="address" [(ngModel)]="address" id="" cols="10" rows="5" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date of Birth</label>
                    <input type="dob" name="dob" [(ngModel)]="dob" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Email Id</label>
                    <input type="email" name="email" [(ngModel)]="email"id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="password" [(ngModel)]="password"  id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center ">
                    <button (click)="read()" class="btn btn-success">Register</button>
                </div>
                <div class="text-center"><a routerLink="/userlogin" style="font-size:20px ;">Back to User Login</a></div>
            </div>
        </div>
    </div>
</div>